<div class="main-home mb-4">
  <p class="devider"></p>
  <div class="container mt-2">
    <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
      <div class="sectionTitle">
        <span class="h4">Welcome To</span>
        <h2>WellnessRoom</h2>
      </div>
      <div class="seperator pb-4"><img src="site/img/snowflake.svg"/></div>
    </div>
  </div>
  <div class="container">
    <div class="inner">
      <div class="inner container" class="row">
        <div>
          <div>
            <div>
              <div class="container">
                <div class="common-inner text-center">
                  <p>
                    <u>Overview</u>
                  </p>
                  <p>WellnessRoom provides a convenient, easy to use, online health care search and appointment booking service. It allows users to scan through different schedules and request appointments with a health care professional at their preferred date and time. 
                  </p>
                </div>
              </div>
            </div>
            <p class="devider devider_full">
            <div>
              <div class="container">
                <div class="common-inner text-center">
                  <p>
                    <u>Users</u>
                  </p>
                  <p>WellnessRoom provides users with a simple method to search and request healthcare appointments from a multitude of providers based on their speciality. It is free, easy to use, convenient and easily accessible on the internet via your PC or any mobile device.</p>
                </div>
              </div>
            </div>
            <p class="devider devider_full">
            <div>
              <div class="container">
                <div class="common-inner text-center">
                  <p>
                    <u>Health Care Professionals</u>
                  </p>
                  <p>WellnessRoom is a breakthrough for health care professionals. It is a subscription based package that provides online scheduling without requiring clients to switch their scheduling systems. It helps improve practice efficiency and profitability by helping to fill open appointments and last-minute cancellations. WellnessRoom provides patients an alternative online method for booking appointments, freeing up front desk staff from time consuming phone appointments and improving overall customer service and satisfaction.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center pt-4">
            <div class="seperator"><img src="site/img/snowflake.svg"/></div>
          </div>
          <div class="card team-card ">
            <div class="card_img text-center img-circle">
              <img class="" src="/img/saadjafri.png" alt="Saad Jafri">
              <div class="hover-overlay">
                <a href="//www.linkedin.com/in/SaadJafriCPA/" class="overlay_icon" target="blank"><i class="fa fa-linkedin"></i></a>
              </div>
              <a href="//www.linkedin.com/in/SaadJafriCPA/"><h4 class="card-title">Saad Jafri</h4></a>
              <span class="">Founder</span>
            </div>
          </div>
          <section class="contact">
            <div class="container">
              <div class="contact_item-container">
                <div class="row">
                  <div class="offset-md-1 col-md-4">
                    <div class="contact_middle">
                      <h3>Open Hours</h3>
                      <ul>
                        <li> Mon - Fri:  9 AM - 7 PM </li>
                        <li> Sat - Sun:  10 AM - 5 PM</li>
                      </ul>
                    </div>
                  </div>
                  <div class="offset-md-2 col-md-4">
                    <div class="contact_right">
                      <h3>Contacts</h3>
                      <ul>
                        <li>66 Forest Manor Road, unit #2207</li>
                        <li>North York, ON M2J 0B7 </li>
                        <li>Email:<a href="mailto:info@wellnessroom.ca"> info@wellnessroom.ca </a></li>
                        <li>Phone: <a href="tel:+1(416)433-3803"> +1(416)433-3803</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
