<div class="container main-home">
  <div class="row mb-2">
    <div class="display-single_element offset-md-4 col-md-4">
      <h3 class="form_title">Please Enter Your Email</h3>
      <form class="register">
        <div class="row">
          <div class="form-group col-md-12">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" ng-model="email">
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="requestPasswordReset(email)">Request Password Reset</button>
        <div class="row">
          <div class="col-12 text-right">
            <a href="/#!/login" class="btn-link">Login</a>
          </div>
        </div>
      </form>
      <p class="form-footer">Don’t have an Account? <a href="/#!/signup" class="btn-link text-primary">Sign up</a></p>
    </div>
  </div>
</div>
