<div class="main-home">
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="inner mx-2 mb-2">
          <div class="row">
            <span>Please leave a review for your recent experience at {{serviceProvider.name}}:</span>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col-12">
              <star-rating-comp rating="appointment.rating" on-rating-change="ratingChanged($event)" size="'large'"></star-rating-comp>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <textarea class="about-text form-control" rows="10" ng-model="appointment.review"></textarea>
          </div>
          <div class="divider"></div>
          <div class="row pull-right mb-2">
            <div>
              <a class="btn btn-primary form-control" ng-click="save()">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
