<div class="py-2 container">
  <div class="common-inner">
    <div class="row">
      <div style="width:100%;padding-right:0px;" class="col-sm-7 offset-sm-1">
        <div style="text-align:center;">
          <span style="color:black;">Health Care Professional? Learn how you can use WellnessRoom to post your appointments.</span>
        </div>
      </div>
      <div style="width:100%;padding-right:0px;padding-left:0px;" class="col-sm-4">
        <div style="text-align:center; margin-right: 5%;">
          <a style="" class="btn btn-sm btn-success pull-right-md" href="/healthcare-professionals">Health Care Professionals</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-home">
  <div class="container pt-4">
    <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
      <div class="sectionTitle">
        <span class="h4">Welcome To</span>
        <h2>WellnessRoom</h2>
      </div>
      <div class="seperator"><img src="site/img/snowflake.svg"/></div>
    </div>
  </div>
  <div class="container mt-4">
    <div>
      <div class="about_bordered">
        <div class="row">
          <div class="col-md-4">
            <x-offering image="/img/2.jpg" title="Find Health care Professionals" text="WellnessRoom is a great place for finding health care professionals near you. This is done conveniently by allowing users to search through a variety of specialties that suit their needs."></x-offering>
          </div>
          <div class="col-md-4">
            <x-offering image="/img/1.jpg" title="Check Availability, Pricing & Reviews" text="Users will be able to search for the earliest available appointment under each speciality or filter by date and time. Price plans along with reviews will also be made available on the health care professional’s page."></x-offering>
          </div>
          <div class="col-md-4">
            <x-offering image="/img/3.jpg" title="Request an Appointment Now" text="Find a health care professional of your choice and request a time that fits your schedule. Your appointment will be confirmed within 60 minutes during business hours."></x-offering>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="devider devider_narrow devider_thik devider_primary"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
        <div class="sectionTitle">
          <span class="h4">Most Popular</span>
          <h2>Services</h2>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav-tabs icon_tabs nav-justified">
          <li class="nav-item text-center">
            <a class="nav-link">
              <div class="row">
                <i class="fa fa-bed col-md-12 col-2 m-a"></i>
                <h3 class="m-a col-md-12 col-6">Massage Therapy</h3>
              </div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link">
              <div class="row">
                <i class="fa fi-spinal-column col-md-12 col-2 m-a"></i>
                <h3 class="m-a col-md-12 col-6">Chiropractor</h3>
              </div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link">
              <div class="row">
                <i class="fa fa-eye col-md-12 col-2 m-a"></i>
                <h3 class="m-a col-md-12 col-6">Optometry</h3>
              </div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link">
              <div class="row">
                <i class="fa fa-user-md col-md-12 col-2 m-a"></i>
                <h3 class="m-a col-md-12 col-6">Medical Doctor</h3>
              </div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link">
              <div class="row">
                <i class="fa fi-molar-1 col-md-12 col-2 m-a"></i>
                <h3 class="m-a col-md-12 col-6">Dentist</h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
